.container {
  max-width: 600px }
.container { margin: 0 auto;
}
.container {
  background: yellow; padding:50px 50px 50px 50px;
}
body{
  color: red;
}
.left-column {
  width: 50%; float: left; padding-top: 0;
}
.left-column{
  padding-right: 20px;
}
.right-column {
  width: 50%; float: right;
}
{
@media(min-width: 600px) }
.byline{
  margin: 2;
  padding: 3;
}
.publish-time {
  margin: 1;
  padding: 0;
}
p{
  margin-left: 20;
}
.clearfix::after {
    content:inherit;
    clear: both;
    display: table;
}
/*css1*/
.right-column {
  color: blue;
}
/*css2*/
.left-column {
  color: hotpink;
}
/*css3,4,5,6*/
h1 {
  border-style: double; border-color: red; border-top: 5px; border-bottom: 5px
}
/*css7,8,9,10*/
h1{
  font-weight: bold; color: pink; font-style: italic; font-family:fantasy;
}
/*css11*/
.container {
text-shadow: black;
}
/*css12,13*/
.byline{
  text-decoration: underline; text-shadow: 2px;
}
/*css 14,15,16*/
.publish-time {
  text-decoration: overline; =text-decoration: underline; text-shadow: 2px;
}
/*css 17,18,19,20*/
body{
   border-style: dashed; border-color: black; border-top: 10px; border-width: thick;
}
/*css 21, 22,23,24,25,26*/
img {
  border-style: double; color: hotpink; border-top: 15px; border-bottom: 5px; border-radius: 15px; border-width: thick;
}
/*css 27,28,29*/
.publishtime {
  font-size: 22px; font-style: oblique; font-weight: lighter;
}
/*css 30,31,32,33,34*/
.wiki-link {
  font-size: 10px; font-family: fantasy; font-style: italic; font-weight: bolder; color: green;
}
/* css 35*/
h4 {
  font-size: 30px; color: black;
}
/*css 36*/
ol{
  font-size: 10;
}
